::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    font-family: Helvetica-Light;
    font-size: 0.6em;
    background-color: #222;
}

line {
    stroke-linecap: round;   
}

path {
    stroke-linecap: round;   
}


#button-panel {
    width: 100%;
    height: 3%;
}

.operator {
    width: 25%;
    background-color: #6baed6;
}

.operator:hover {
    width: 25%;
    background-color: #3182bd;
}

.operator.active {
    width: 25%;
    background-color: #3182bd;
}

#content {
    width: 100%;
    height: 97%;
}

.panel {
    display: inline-block;
}

.land {
    fill: #EEE;
}

.state-boundary {
    fill: none;
    stroke: #222;
}

svg {
    background-color: transparent;
}

.axis path,
.axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.tick text {
    fill: #666;
}

.tick line {
    opacity: 0.3;
}

.parallel path {
    fill: none;
    stroke-opacity: 1;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.mainpanel {
    z-index: 1;
    position: absolute;
}

.secondarypanel {
    z-index: 5;
    position: absolute;
    border: 1px solid #222;
}

.thumbnail {
    background-color: white;
}

.thumbnail:hover {
    background-color: #deebf7;
}

.lasso path {
    stroke: rgb(80, 80, 80);
    stroke-width: 2px;
}

.lasso .drawn {
    fill-opacity: .05;
}

.lasso .loop_close {
    fill: none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill: #222;
    fill-opacity: .5;
}

.not_possible {}

.possible {}

text {
    background-color: rgba(255, 255, 255, 0.1);
}