::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    font-family: Helvetica-Light;
    font-size: 10px;
    background-color: #222;
}

line {
    stroke-linecap: round;
}

path {
    stroke-linecap: round;
}

#button-panel {
    width: 100%;
    height: 3%;
    position: absolute;
    background-color: transparent;
    text-align: center;
    top: 24%;
    pointer-events: none;
}

#content {
    width: 100%;
    height: 100%;
}

.panel {
    display: inline-block;
    -webkit-tap-highlight-color: orange;
}

.land {
    fill: #EEE;
}

.state-boundary {
    fill: none;
    stroke: #222;
}

svg {
    background-color: transparent;
}

.axis path,
.axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}

.tick text {
    fill: #888;
    
}

.tick line {
    opacity: 0.5;
}

.parallel path {
    fill: none;
    stroke-opacity: 0.3;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.mainpanel {
    z-index: 1;
    position: absolute;
}

.secondarypanel {
    z-index: 5;
    position: absolute;
    border: 1px solid #222;
}

.thumbnail {
    background-color: white;
}

.thumbnail:hover {
    background-color: #deebf7;
}

.lasso path {
    stroke: rgb(80, 80, 80);
    stroke-width: 2px;
}

.lasso .drawn {
    fill-opacity: .05;
}

.lasso .loop_close {
    fill: none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill: #222;
    fill-opacity: .5;
}

.not_possible {}

.possible {}

text {
    background-color: rgba(255, 255, 255, 0.1);
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#clearButton {
    padding-top: 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #9b9b9b;
    background-image: linear-gradient(to left, rgba(190, 190, 190, 0.3) 0%, rgba(190, 190, 190, 0.4) 20%, rgba(190, 190, 190, 0.4) 80%, rgba(190, 190, 190, 0.3) 100%);
    z-index: 6;
    width: 15%;
    height: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    vertical-align: bottom;
    cursor: pointer;
    text-align:center;
    pointer-events: all;
}

#clearButton:hover {
    background-color: #deebf7;
    
}

#undoButton {
    padding-top: 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #9b9b9b;
    background-image: linear-gradient(to left, rgba(190, 190, 190, 0.3) 0%, rgba(190, 190, 190, 0.4) 20%, rgba(190, 190, 190, 0.4) 80%, rgba(190, 190, 190, 0.3) 100%);
    z-index: 6;
    width: 15%;
    height: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    vertical-align: bottom;
    cursor: pointer;
    text-align:center;
    pointer-events: all;
}

#undoButton:hover {
    background-color: #deebf7;
    
}

.label {
    position: absolute;
    font-size: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #222; 
    vertical-align: middle;
    z-index: 100;
}

.highlight {
    background-color: yellow;
}

#buttonpanel-data {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    height: auto;
}

.operator {
    vertical-align: middle;
    text-align: center;
    padding-top: 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #9b9b9b;
    background-image: linear-gradient(to left, rgba(190, 190, 190, 0.3) 0%, rgba(190, 190, 190, 0.4) 20%, rgba(190, 190, 190, 0.4) 80%, rgba(190, 190, 190, 0.3) 100%);
    z-index: 6;
    width: 15%;
    height: 30px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    vertical-align: bottom;
    cursor: pointer;
    text-align:center;
    pointer-events: all;
    color: white;
}

.operator:hover {
    background-color: #deebf7; 
    color: black;
}

.bool {
    font-size: 24px;
    padding: 20px;
    width: 80px;
    display: inline-block;
    cursor: pointer;
}
